**/*.svg
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
public
*.lock
*.sql
yarn-error.log

/.idea
/android
/ios

.buckconfig
.flowconfig
.gitattributes
.watchmanconfig
*.jpg
*.jpeg
*.log
.idea/
/iss
.browserslistrc
bitbucket-pipelines.yml
db.json
