@page "/"
@namespace nmain.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>nmain</title>
  <base href="~/"/>
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
  <link href="css/site.css" rel="stylesheet"/>
  <link href="nmain.styles.css" rel="stylesheet"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
<<<<<<< HEAD
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>

=======
  <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js"></script>
>>>>>>> 21351e954837c4b9b9e50695c90a6cae01416435
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<<<<<<< HEAD
<script src="_framework/blazor.server.js" autostart="false"></script>

    <script>
      Blazor.start().then(function () {
        var customScript = document.createElement('script');
        customScript.setAttribute('src', 'js/main.js');
        document.head.appendChild(customScript);
      });
    </script>
=======
<script src="_framework/blazor.server.js"></script>


>>>>>>> 21351e954837c4b9b9e50695c90a6cae01416435
</body>
</html>
