@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JS

<h1 class="test">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

$$ f(x) = x^ 4 $$

@code {
  private IJSObjectReference module;
  private string result;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      module = await JS.InvokeAsync<IJSObjectReference>("import",
        "/js/main.js");
    }
  }

  private async Task TriggerPrompt()
  {
    result = await Prompt("Provide some text");
  }

  public async ValueTask<string> Prompt(string message)
  {
    return await module.InvokeAsync<string>("showPrompt", message);
  }

  async ValueTask IAsyncDisposable.DisposeAsync()
  {
    await module.DisposeAsync();
  }
}
